.project__container {
  min-height: 100vh;
  background-color: #270da7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.project__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  /* margin-top: 5rem; */
  /* margin:0 0.5rem; */
  /* margin-bottom: 4rem; */
  align-items: center;
}

.card {
  --padding: 1rem;
  background: white;
  border: 1px solid #777;
  /* padding: 1rem; */
  border-radius: 0.25rem;
  overflow: hidden;
  /* text-align: center; */
  cursor: pointer;
  margin: 0 50px;
  color: #270da7;
}

.card-shadow {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  /* margin-left: 100px; */
}

.card-header {
  padding: var(--padding);
  padding-bottom: 0;
  font-size: 1.2rem;
  font-weight: 100;
}

.card-header > h4 {
  background: #fffe00;
  width: fit-content;
  padding: 1rem;
  color: #270da7;
  margin-block: 1rem;
}

.card-header > h2 {
  margin-block: 1rem;
}

.card-header > p {
    margin-bottom: 2rem;
  }

  .card-header > button {
    margin-block: 1.4rem;
  }

.card-img {
  overflow: hidden;
}

.card-img > img {
  display: block;
  width: 100%;
  /* max-height: 300px; */
  aspect-ratio: 6 / 4;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-img > img {
  transform: scale(1.025);
}

.card-body {
  font-size: 0.9rem;
  /* padding: 0 var(--padding); */
  margin-bottom: 1em;
}
