.hero2__conatiner {
    min-height: 140vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    color: #433b6d;
}

.hero2__wrapper1 {
    max-width: 500px;
    color: #433b6d;
    line-height: 3rem;
}

.hero2__wrapper1 > h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero2__wrapper2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero2__hey {
    margin-left: -100px;
}

.hero2__wrapper2  div > img{
  width: 250px;
  height: 350px;
  border-radius: 50% 60% 50% 50% / 70% 70% 40% 40%;
}

/* .hero2__g {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.hero2__g {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding-bottom: 7vh;
}


.hero2__wrapper1 > button {
    background-color: #fffe00;
    padding: 7px;
    border-radius: 5px;
    color: #433b6d;
}

.hero2__sub {
    /* max-width: 600px; */
    border-left: 3px solid #fffe00;
    background-color: #fff;
    /* min-height: 150px; */
    padding: 30px;
}

.hero2__sub1 {
    display: flex;
    justify-content: space-between;
    color: grey;
}
