.nav__conatiner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    color: #270da7;
    z-index: 999;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__links li {
    width: 90px;
}

.toogle__icon {
    display: none;
}

@media screen and (max-width: 991px) {

    .toogle__icon {
        display: block;
    }

    .place__content {
        display: block;
        position: absolute;
        top: calc(100% + 0vh);
        background-color: rgba(255, 255, 255, 0.9); 
        z-index: 90; 
        right: -100%;
        width: 100%;
        height: 100vh;
    }
    
    .place__content ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .place__content ul li {
        padding-block: 1.5rem;
    }

    .place__content.active {
        right: 0;
    }
}
